<!DOCTYPE html>
<html>
<head>
    <title>Website with Disclaimer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <header>
            <nav>
              <ul class="nav-menu">
                <li><a href="#tool">Access VitalSense Tool</a></li>
                <li><a href="#algo-explanation">Explanation about Algorithm and Dataset</a></li>
                <li><a href="#about-project">About Project</a></li>
              </ul>
            </nav>
          </header>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
     </div>
     <footer class="footer">
        <div class="inline-container">
          <p>Developed by Dr. Pooja Jain and Vartul Shrivastava</p>
        </div>
      </footer>
    <!-- Rest of your website content goes here -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
