<!DOCTYPE html>
<html>
<head>
    <title>VitalSense Home</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="box-overlay" id="about-box-overlay">
            <div class="box-container">
                <h2>About Project - VitalSense Tool</h2>
                <h6>Vitalsense is an innovative tool developed by Dr. Pooja Jain and Vartul Shrivastava. It utilizes an ensemble learning algorithm to predict the risk of diseases associated with obesity caused by a sedentary lifestyle.</h6>
                <h6>By analyzing body measurements and physical activity levels, Vitalsense provides personalized risk assessments and predicts essential biomarkers. The tool focuses on diseases commonly linked to obesity, such as Diabetes Type 2, Metabolic Syndrome, Cardiovascular Disease, Hyperlipidemia, and Non-Alcoholic Fatty Liver Disease.</h6>
                <h6>With its user-friendly interface, individuals can easily assess their disease risks and take proactive preventive measures. Vitalsense empowers users to understand their health risks based on physical activity and body measurements, facilitating timely interventions and lifestyle modifications to improve overall health outcomes.</h6>
                <button class="closeBtn" id="about-box-close">Close</button>
            </div>
        </div>
        
        <div class="box-overlay" id="algo-box-overlay">
            <div class="box-container">
                <h2>Algorithm and Dataset Overview</h2>
                <h6>Vitalsense is an innovative tool that leverages an ensemble learning algorithm, specifically XGBoost, to predict the risk of diseases associated with obesity resulting from a sedentary lifestyle. The development of Vitalsense relies on the integration and preprocessing of NHANES (National Health and Nutrition Examination Survey) datasets from multiple years. NHANES datasets are renowned for providing comprehensive health information collected through surveys and physical examinations, making them a valuable source of data for studying various health-related factors.</h6>
                <h6>            The preprocessing steps in Vitalsense involve data integration, filtering out instances with missing lab values, and applying the Multiple Imputation by Chained Equations (MICE) technique to handle remaining missing values. This ensures data quality and completeness, allowing for accurate predictions and reliable analysis. The XGBoost algorithm is then applied, benefiting from its ability to capture complex relationships and improve prediction accuracy. XGBoost constructs an ensemble of decision trees and combines their outputs to make robust predictions.</h6>

        
                    
                   <h6>Risk assessment in Vitalsense is based on the predictions made by the XGBoost algorithm using the integrated and preprocessed NHANES datasets. The algorithm considers calculated features related to diseases like Diabetes Type 2, Metabolic Syndrome, Cardiovascular Disease, Hyperlipidemia, and Non-Alcoholic Fatty Liver Disease. By comparing the predicted values with established thresholds and ranges specific to each target variable, a risk score is assigned, representing the probability or severity of the associated risk. Weighted risk scores, reflecting the relative importance of different variables, are aggregated to provide a comprehensive assessment of an individual's susceptibility to specific diseases.</h6> 
                <button class="closeBtn" id="algo-box-close">Close</button>
            </div>
        </div>
        <header>        
            <nav>
              <ul class="nav-menu">
                <li><a href="#algo-explanation" id="algo-link">Explanation about Algorithm and Dataset</a></li>
                <li><a href="#about-project" id="about-link">About Project</a></li>
              </ul>
              </ul>
            </nav>
          </header>
        <div id="disclaimer-overlay">
            <div id="disclaimer-box">
                <h2>User Disclaimer</h2>
                <div class="disclaimer-content">
                    <div class="disclaimer-image">
                        <img src="{{ url_for('static', filename='logo.png') }}" alt="IIITN Logo">
                    </div>
                    <div class="disclaimer-text">
                        <p>
                            The predictions provided by this application are based on a machine learning model trained on available data. While efforts have been made to ensure accuracy, it is important to note that these predictions are not guaranteed to be 100% accurate. The model relies on patterns and correlations found in the data, and there may be other factors or individual variations that could affect the accuracy of the predictions.
                        </p>
                        <p>
                            This application should not be considered a substitute for professional medical advice. It is highly recommended to consult with a qualified healthcare professional or physician for accurate diagnosis, treatment, and medical advice. The predictions generated by this application are intended to provide general information and give you an idea, but they should not replace personalized medical evaluation or guidance.
                        </p>
                        <p>
                            Use of this application is at your own risk, and the developers and providers of this application shall not be held responsible for any consequences arising from the use of the predictions or reliance on the information provided. Always seek professional medical assistance and follow the advice of healthcare professionals for any health-related concerns.
                        </p>
                    </div>
                </div>
                <div class="checkbox-section">
                    <input type="checkbox" id="checkbox-agree">
                    <label for="checkbox-agree">By ticking the checkbox, you agree that:</label>
                    <p>
                        I have read and understood the disclaimer, and I acknowledge that the information provided by this application is not intended to replace professional medical advice. I understand that it is solely for the purpose of providing me with an idea of potential disease risks based on predictive patterns.
                    </p>
                </div>
                <button id="submit-btn">Submit</button>
                <button id="close-btn">Close</button>
            </div>
        </div>
        <div id="question-container">
            <div id="logo-container">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="IIITN Logo">
            </div>
            <div id="content-container">
                <div id="progress-container">
                    <div id="progress-slider"></div>
                    <div id="progress-percent"></div>
                  </div>
                  
              <h2 id="question"></h2>
              <input type="number" id="answer" required>
              <button id="next-btn">Next</button>
            </div>
          </div>  
        
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        
     <footer class="footer">
        <div class="inline-container">
          <p>Developed by Dr. Pooja Jain and Vartul Shrivastava</p>
        </div>
      </footer>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
      <script>
          // Add event listener to the "Access VitalSense Tool" link
          const about = document.getElementById("about-link");
          const aboutboxOverlay = document.getElementById("about-box-overlay");
          const aboutboxClose = document.getElementById("about-box-close");
  
          about.addEventListener("click", function(e) {
              e.preventDefault();
              aboutboxOverlay.style.display = "flex";
          });
  
          aboutboxClose.addEventListener("click", function() {
              aboutboxOverlay.style.display = "none";
          });          
      </script>
      <script>
          const algo = document.getElementById("algo-link");
          const algoboxOverlay = document.getElementById("algo-box-overlay");
          const algoboxClose = document.getElementById("algo-box-close");
  
          algo.addEventListener("click", function(e) {
              e.preventDefault();
              algoboxOverlay.style.display = "flex";
          });
  
          algoboxClose.addEventListener("click", function() {
              algoboxOverlay.style.display = "none";
          });

      </script>
</body>
</html>
